<ion-header>
  <ion-toolbar>
    <ion-title>
      Social Sharing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="block" class="ion-margin" (click)="shareViaTwitter()">TWITTER</ion-button>
  <ion-button expand="block" class="ion-margin" (click)="shareViaFacebook()">FACEBOOK</ion-button>
  <ion-button expand="block" class="ion-margin" (click)="shareViaInstagram()">INSTAGRAM</ion-button>
  <ion-button expand="block" class="ion-margin" (click)="shareViaEmail()">EMAIL</ion-button>
  <ion-button expand="block" class="ion-margin" (click)="shareViaWhatsapp()">WHATSAPP</ion-button>
  <ion-button expand="block" class="ion-margin" (click)="shareViaWhatsappToPhone()">WHATSAPP TO PHONE</ion-button>

</ion-content>
